<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css') }}">
</head>
<body style="background-image: url('static/images/003.jpg')">
    <div class="form_registro">
    <h1>Ingresa tus datos para iniciar sesión</h1>
    <form id="registro" action="{{ url_for('main.check_form') }}" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit" id="ingresar" class="btn ingreso">Ingresar</button>
        <p>¿No tienes una cuenta? <a href="/registro">Regístrate</a></p>
    </form>
    </div>
</body>
</html>